@model IEnumerable<LearnBridge_E_LearningPlatform.Models.Lesson>

<h2>Lessons</h2>

<a asp-action="Create" class="btn btn-success">Add Lesson</a>

<table class="table">

    <thead>
        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Video</th>
            <th>Material</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Title</td>

                <td>@item.Course?.Title</td>

                <td>
                    @if (!string.IsNullOrEmpty(item.VideoUrl))
                    {
                        <a href="@item.VideoUrl" target="_blank">Watch</a>
                    }
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.MaterialFile))
                    {
                        <a href="/materials/@item.MaterialFile" target="_blank">
                            Download
                        </a>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.LessonId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.LessonId">Delete</a>
                </td>

            </tr>
        }

    </tbody>

</table>